*.gem
*.rbc
*.so
Gemfile.lock
Gemfile.local
_yardoc
coverage
# Github actions builds into vendor
vendor/
music/
doc/
pkg/
tmp/
.*
!.yardopts
!.rubocop.yml
!.gitignore
**/.idea
**/cmake-*
**/CMakeLists.txt
/music/
